/* src/components/Footer.css */
.footer-container {
  text-align: center;
  padding: 24px 32px;
  background-color: #333; /* Dark background for footer */
  color: #f8f8f8; /* Light text */
}

.footer-container p {
  margin: 0;
  font-size: 0.9rem;
}